<!-- main page layout -->
<script>
    import "../../app.css";
    import GlobalHeader from "$lib/components/GlobalHeader.svelte";
    import GlobalFooter from "$lib/components/GlobalFooter.svelte";

</script>

<GlobalHeader />

<main class="mb-auto pb-10">
    <slot/>
</main>

<GlobalFooter/>
