<script>
    /*
    1. This is the main page of the site
     */
    import GlobalHeader from "$lib/components/GlobalHeader.svelte";
    import GlobalFooter from "$lib/components/GlobalFooter.svelte";
    import VideoStream from "$lib/components/VideoStream.svelte";
    import {getLabelConfig} from "$lib/index.js";
    import {identifiedItemsStore} from '$lib/fulfillment.js';
    import {setLightStatus, getGREEN} from "@mike-ensor/common-project-svelte-components";
    import {getStreamStats} from '$lib/rtsp-service';
    import {onMount} from "svelte";

    // Indicates if the inference should start
    $: hasStarted = false;

    export let videoOptions = {
        locale: 'en-US',
        gameStarted: false,
        currency: 'USD',
        trayTotal: 0.0,
        trayTotalPrint: "------",
        gameItems: getLabelConfig()
    };

    const TIME_TO_STAY_ON = 2000;
    let HAS_ITEM = false;
    let timeout;

    // timeout if not canceled
    function turnOffLights() {
        setLightStatus(getGREEN(false));
        HAS_ITEM = false;
    }

    // Subscribe to the Identified Items store
    identifiedItemsStore.subscribe((value) => {
        // turn on the light
        if (value && value.length > 0) {
            // we have identified something
            if (HAS_ITEM) {
                clearTimeout(timeout);
            }
            setLightStatus(getGREEN(true));
            // set a timer to turn off after a second
            HAS_ITEM = true;
            timeout = setTimeout(turnOffLights, TIME_TO_STAY_ON);
        }

    });

    // TODO: DO a check if the Video has started
    onMount(() =>{
        getStreamStats().then(result => {
            if(result && result.state === true ) {
                hasStarted = true;
            }
        });
    })

</script>

<GlobalHeader/>

<main class="mb-auto pb-10">


    <div class=" w-full md:h-full rounded-md shadow-lg border border-primary/50 my-4">
        <div class="flex flex-col gap-y-8 w-full h-full items-center justify-center">
            <div class="w-75 h-full">

                <div class="card-body p-0">
                    <VideoStream bind:videoOptions={videoOptions}
                                 bind:hasStarted={hasStarted}
                    />
                </div>
            </div>

        </div>
    </div>

</main>

<GlobalFooter/>
