<script>
    /*
        This page provides some limited admin features (more over time)
     */

    import {appEnvs} from "$lib/appEnvs.js";
    import {LightTower} from "@mike-ensor/common-project-svelte-components";
    import {Button, Toggle, Input, Label} from 'flowbite-svelte';
    import {onMount} from "svelte";
    import {getStreamStats, getCurrentRtspUrl, startStream, stopStream, setNewRtspUrl} from "$lib/rtsp-service/index.js";
    import {inferenceServerMetadata} from '$lib/inference-service';

    $: toggleState = false;
    $: inferenceMetadata = "";
    $: streamStatusOutput = 'Stopped';
    $: currentRtspURL = '';

    let lightTowerConfig = {
        enabled: true,
        hostIP: appEnvs.LIGHT_TOWER_HOST,
        port: appEnvs.LIGHT_TOWER_PORT,
    }

    const setRTSPUrl = async () => {
        const urlObject = document.getElementById("rtspNewUrl");
        let newUrl = urlObject.value;
        setNewRtspUrl(newUrl).then(result => {
            // kinda a clunky flow, but it works
            console.log(result);
        });
    }

    const toggleStream = async () => {
        // Returns a promise
        let status = getStreamStats();
        status.then((response) => {
            if (response.state === false) {
                startStream().then( result => {
                    streamStatusOutput = result;
                });
                toggleState = true;
            } else {
                stopStream().then( result => {
                    streamStatusOutput = result;
                });
                toggleState = false;
            }
        });
    }

    onMount(() => {
        // Set the initial toggle based on the stream state
        getStreamStats().then((response) => {
            toggleState = response.state;
            streamStatusOutput = response.state;
        });

        inferenceServerMetadata().then((response) => {
            inferenceMetadata = response;
        });

        getCurrentRtspUrl().then((response) => {
            currentRtspURL = response.currentRTSPFeedURL;
        })
    });

</script>

<div class="container px-6 max-w-7xl mx-auto">
    <div class="main-post-game-info w-full pt-4 py-1 border-b border-primary/50">
        <div class="md:grid grid-cols-2 items-center justify-between">
            <div>
                <p class="md:text-xl font-semibold">Google Distributed Cloud</p>
                <h1 class="text-3xl md:text-4xl font-semibold">Admin Menu</h1>
            </div>
        </div>
    </div>

    <div class="w-full">
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <h2 class="text-xl md:text-2xl font-semibold">RTSP Stream</h2>

                <Toggle id="rtspId" size="default" on:click={toggleStream} checked={toggleState}>Set Stream Status
                    -- {streamStatusOutput}</Toggle>
                <!-- TODO: Set this to a FlowByte input type" -->
                <Label for="rtspNewUrl" class="mb-2">RTSP URL</Label>
                <Input type="text" id="rtspNewUrl" value="{currentRtspURL}"/>

                <Button on:click={setRTSPUrl}>Queue RTSP Feed</Button>
            </div>
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <h2 class="text-xl md:text-2xl font-semibold">Inference Server</h2>
                <div class="pl-3">
                    <h3>Model Name: {inferenceMetadata.public_name}</h3>
                    <ul>
                        <li>Tensor Input Height/Width: {inferenceMetadata.image_height}
                            x {inferenceMetadata.image_width}</li>
                        <li>Model Confidence: {inferenceMetadata.model_confidence}</li>
                        <li>Model Version: {inferenceMetadata.model_version}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <h2 class="text-xl md:text-2xl font-semibold">Light Tower</h2>
                <LightTower configuration={lightTowerConfig} />
            </div>
        </div>
    </div>
</div>