<script>
    import {InternetStatus} from "@mike-ensor/common-project-svelte-components";
</script>
<nav class="bg-[#fafcfa] border-b">
    <div class="container px-6 max-w-7xl mx-auto">
        <div class=" grid grid-cols-3  items-center justify-between py-4">
            <div class="flex items-center gap-3">
                <!-- mobile hamburger -->
                <div class="flex items-center space-x-3 rtl:space-x-reverse">
                    <a href="/" id="mobileHamburger" type="button"
                       class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-textColor rounded-lg hover:bg-primary  focus:outline-none  focus:ring-gray-200"
                       aria-controls="navbar-language" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                        </svg>
                    </a>
                </div>

                <!-- menu links -->
                <div class="items-center z-20 hidden max-md:absolute left-0 top-12 justify-between  w-full md:flex md:w-auto md:order-1"
                     id="navbarLinks">
                    <ul class="flex flex-col text-lg font-semibold p-4 text-textColor bg-secondary md:bg-inherit md:p-0 mt-4 border  rounded-lg  md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
                        <li>
                            <a href="/"
                               class="block py-2 px-3 rounded md:bg-transparent hover:bg-primary transition-all ">Home</a>
                        </li>
                        <li>
                            <a href="/admin"
                               class="block py-2 px-3 rounded md:bg-transparent hover:bg-primary transition-all">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- middle title -->
            <div class="text-center">
                <h1 class="text-xl md:text-2xl font-normal">Hat no Hat</h1>
            </div>

            <!-- right side question icon -->
            <div class="flex items-end justify-end">
                <InternetStatus enabled={true}/>
            </div>
        </div>
    </div>
</nav>