<script>
    import rss from '$lib/assets/rss.svg';
    import git from '$lib/assets/git.svg';
    import {appEnvs} from "$lib/appEnvs.js"

    const APP_VERSION = appEnvs.APP_VERSION;
</script>
<footer class="bg-[#edf0ed]">
    <div class="mx-auto container max-w-7xl px-6 pb-4">
        <div class="flex items-center justify-center">
            <p class="mt-4 mr-2 font-semibold text-sm leading-5 text-textColor ">Google Cloud &copy; 2024 </p>
            <div class="flex mt-4  gap-2 items-center">
                <hr class="h-4 border border-primary" />
                <a href="https://gitlab.com/mike-ensor/hat-no-hat-frontend" class="text-textColor hover:text-gray-400">
                    <span class="sr-only">GitLab</span>
                    <img class="h-3 w-3" src="{git}" alt="Git Repo">
                </a>
                <hr class="h-4 border border-primary" />
                <a href="https://gitlab.com/mike-ensor/hat-no-hat-frontend" class="text-textColor hover:text-gray-400">
                    <span class="sr-only">Feed</span>
                    <img class="h-3 w-3" src="{rss}" alt="RSS Feed">
                </a>
                <hr class="h-4 border border-primary" />
                <a href="/fulfillment" class="text-textColor hover:text-gray-400">
                    <span class="sr-only">Fulfillment</span>
                    <img class="h-3 w-3" src="{rss}" alt="RSS Feed">
                </a>&nbsp;&nbsp;&nbsp;
                <small>App Version: {APP_VERSION}</small>
            </div>
        </div>
    </div>
</footer>