<svelte:options accessors/>
<script>
    /*
        This is the VideoStream hosting the RTSP on the page.

        Several trials have been put together to try and figure out streaming and frame capture

        Requirements:
        1. Stream from http://<host>:<port>/stream URL
        2. Need to capture a frame when desired
          * Frame needs to be able to be sent to Inference server
        3. Need to be able to draw rectangles representing bounding boxes and labels on or over the stream

     */

    import {onDestroy, onMount} from "svelte";
    import {updateItems} from '$lib/fulfillment.js';
    import {hotkey} from "svelte-gh-hotkey";
    import downChevron from '$lib/assets/down-chevron.svg';
    import rightChevron from '$lib/assets/right-chevron.svg';
    import {getStreamStats, getConnectionURL} from '$lib/rtsp-service';
    import {inferenceFrame} from '$lib/inference-service';


    // Data coming in from the parent page
    export let videoOptions = {
        locale: "en-US",
        inferenceItems: []
        // gameItems --- inference server should have the list of labels that the inference could be
    }

    export let hasStarted = false;

    const colors = [
        "#4285F4",
        "#EA4335",
        "#FBBC05",
        "#34A853",
        "#009688",
        "#FF9800",
        "#9C27B0",
        "#673AB7",
        "#ffffff",
        "#A1887F",
        "#8D6E63",
        "#00BCD4",
        "#009688",
        "#F06292",
        "#FFBBFF"
    ]

    // Holds the interval for updating the canvas
    let imageUpdateInterval;
    // Holds the interval for extracting a frame and sending to inference server
    let inferenceInterval;
    // interval for the loop of get FPS
    let fpsInterval;

    // display the FPS
    $: fps = 0.0;
    // is the feed functional
    $: feedStatus = false;

    export function extractFrame() {
        const canvas = document.getElementById("canvas");
        if (!canvas) {
            return false;
        }

        return canvas.toDataURL("image/png").replace("data:image/png;base64,", "");
    }

    function setupVideoStream() {
        const canvas = document.getElementById("canvas");
        if (!canvas) {
            // Likely the page has unloaded, but there are still intervals for display
            return;
        }
        const width = canvas.width;
        const height = canvas.height;
        const ctx = canvas.getContext("2d");

        const mjpegStreamImage = new Image();
        mjpegStreamImage.crossOrigin = "anonymous";
        mjpegStreamImage.src = getConnectionURL();

        mjpegStreamImage.addEventListener("load", () => {
            ctx.drawImage(mjpegStreamImage, 0, 0, width, height);
        });
    }

    function setFPS() {
        const status = getStreamStats();
        status.then((value) => {
            feedStatus = value.state;
            if (value.state) {
                fps = value.currentfps.toFixed(1);
            } else {
                fps = 0.0;
            }
        });
    }

    function drawBorder(context, label, color, xPos, yPos, width, height, thickness = 1) {
        context.strokeStyle = color;
        context.lineWidth = thickness;
        context.strokeRect(xPos, yPos, width, height);

        context.fillStyle = color;
        context.globalAlpha = 0.3;
        context.fillRect(xPos - (thickness), yPos - (thickness), width + (thickness * 2), height + (thickness * 2));

        context.globalAlpha = 1.0;
        context.fillStyle = color;      // Color of the label text
        const labelWidth = label.length * 12;
        context.fillRect(xPos - thickness + 2, yPos - 24, (labelWidth < width ? labelWidth : width), 24);

        context.font = "16px Arial";      // Font style
        if (color === "#ffffff") {
            context.fillStyle = "black";      // Color of the label text
        } else {
            context.fillStyle = "white";      // Color of the label text
        }
        context.fillText(label, xPos + 5, yPos - 5);
    }

    function drawBoundingBoxes(items) {
        if (items) {
            const canvas = document.getElementById("canvas-overlay");

            if(!canvas) {
                return;
            }

            const ctx = canvas.getContext("2d");
            const canvas_width = canvas.width;

            const canvas_height = canvas.height;

            const gameItems = videoOptions.gameItems;

            ctx.clearRect(0, 0, canvas_width, canvas_height);

            for (let i = 0; i < items.length; i++) {
                // Oh, cannot be the ID....needs to be where it exists in the array
                let color = colors[gameItems.get(items[i].label).color_index];

                const topX = items[i].min_x;
                const topY = items[i].min_y;

                const width = items[i].max_x - topX;
                const height = items[i].max_y - topY;

                drawBorder(ctx, items[i].label, color, topX, topY, width, height, 5);
            }
        }
    }

    function toggleNerdStats() {
        const nerdStatContainer = document.getElementById("nerdStatsContainer");

        const nerdStatIconIndicator = document.getElementById("nerd-stats-icon");
        const current = nerdStatContainer.style.display;
        if (current === 'none' || current === "") {
            nerdStatContainer.style.display = 'block';
            nerdStatIconIndicator.src = downChevron;
        } else {
            nerdStatContainer.style.display = 'none';
            nerdStatIconIndicator.src = rightChevron;
        }

    }

    // TODO: Move this to inference-service module
    async function runInference() {
        // If the round hasn't started, don't start inferencing
        if (!hasStarted) {
            return;
        }

        const imageData = extractFrame()

        if (!imageData) {
            console.error("Failure to extract frame from feed");
        } else {
            inferenceFrame(imageData).then(result => {
                if (result) {
                    const items = result.detected_items;
                    updateItems(items);
                    // Draw bounding boxes
                    drawBoundingBoxes(items);
                }
            })
        } // end If ImageData exists
    }

    onMount(() => {
        imageUpdateInterval = setInterval(setupVideoStream, 40);
        inferenceInterval = setInterval(runInference, 300); // every 0.5 seconds (or every FPS/2 frames)
        fpsInterval = setInterval(setFPS, 400); // once a second
    });

    onDestroy(() => {
        clearInterval(imageUpdateInterval);
        clearInterval(inferenceInterval);
        clearInterval(fpsInterval);
    });

</script>
<style>
    .overlay-image {
        z-index: 100; /* Ensure overlay is on top */
    }

    .image-container {
        position: relative;
        border: 1px #ffcc00;
    }

    #canvas-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="image-container">
    <!-- TODO: Find a way to not be hardcoded-->
    <canvas id="canvas" width="1280" height="720" class="w-full h-full"></canvas>
    <canvas id="canvas-overlay" width="1280" height="720" class="overlay-image"></canvas>
</div>
<div class="text-start flex items-start border-b border-primary/50 pb-0">
    <button on:click={toggleNerdStats} use:hotkey={'n'} class="flex items-start gap-2 text-s font-bold">Show Nerd
        Stats
    </button>
    <img id="nerd-stats-icon" class="w-6 h-6" src="{rightChevron}" alt=">>">
</div>
<div id="nerdStatsContainer"
     class="pt-5 border border-primary/50 p-4 rounded-md mt-4 shadow-md grid md:grid-cols-2 items-start gap-10 md:gap-24 hidden">
    <div>
        <span id="fps"><strong>FPS:</strong> {fps}</span>,
        <span><strong>Stream Status:</strong> {feedStatus}</span>,
        <span><strong>Inference Enabled:</strong> {hasStarted}</span>
    </div>
</div>
